<p id="notice"><%= notice %></p>

<p>
  <strong>Neunatales:</strong>
  <%= @personal_history.neunatales %>
</p>

<p>
  <strong>Neunatales description:</strong>
  <%= @personal_history.neunatales_description %>
</p>

<p>
  <strong>Patologicos:</strong>
  <%= @personal_history.patologicos %>
</p>

<p>
  <strong>Patologicos description:</strong>
  <%= @personal_history.patologicos_description %>
</p>

<p>
  <strong>Quirurgicos:</strong>
  <%= @personal_history.quirurgicos %>
</p>

<p>
  <strong>Quirurgicos description:</strong>
  <%= @personal_history.quirurgicos_description %>
</p>

<p>
  <strong>Farmacologicos:</strong>
  <%= @personal_history.farmacologicos %>
</p>

<p>
  <strong>Farmacologicos description:</strong>
  <%= @personal_history.farmacologicos_description %>
</p>

<p>
  <strong>Alergicos:</strong>
  <%= @personal_history.alergicos %>
</p>

<p>
  <strong>Alergicos description:</strong>
  <%= @personal_history.alergicos_description %>
</p>

<p>
  <strong>Toxicos:</strong>
  <%= @personal_history.toxicos %>
</p>

<p>
  <strong>Toxicos description:</strong>
  <%= @personal_history.toxicos_description %>
</p>

<p>
  <strong>Traumaticos:</strong>
  <%= @personal_history.traumaticos %>
</p>

<p>
  <strong>Traumaticos description:</strong>
  <%= @personal_history.traumaticos_description %>
</p>

<p>
  <strong>Hospitables:</strong>
  <%= @personal_history.hospitables %>
</p>

<p>
  <strong>Hospitables description:</strong>
  <%= @personal_history.hospitables_description %>
</p>

<p>
  <strong>Atep laboral:</strong>
  <%= @personal_history.atep_laboral %>
</p>

<p>
  <strong>Atep laboral description:</strong>
  <%= @personal_history.atep_laboral_description %>
</p>

<p>
  <strong>Familiar:</strong>
  <%= @personal_history.familiar %>
</p>

<p>
  <strong>Familiar description:</strong>
  <%= @personal_history.familiar_description %>
</p>

<p>
  <strong>Inmunologicos:</strong>
  <%= @personal_history.inmunologicos %>
</p>

<p>
  <strong>Inmunologios description:</strong>
  <%= @personal_history.inmunologios_description %>
</p>

<p>
  <strong>Asociado viajes de vuelo:</strong>
  <%= @personal_history.asociado_viajes_de_vuelo %>
</p>

<p>
  <strong>Asociado viajes de vuelo description:</strong>
  <%= @personal_history.asociado_viajes_de_vuelo_description %>
</p>

<p>
  <strong>Menstrual cycle:</strong>
  <%= @personal_history.menstrual_cycle %>
</p>

<p>
  <strong>Gestational age:</strong>
  <%= @personal_history.gestational_age %>
</p>

<p>
  <strong>Eco:</strong>
  <%= @personal_history.eco %>
</p>

<p>
  <strong>Fum:</strong>
  <%= @personal_history.fum %>
</p>

<p>
  <strong>Pregnancy:</strong>
  <%= @personal_history.pregnancy %>
</p>

<p>
  <strong>G:</strong>
  <%= @personal_history.g %>
</p>

<p>
  <strong>P:</strong>
  <%= @personal_history.p %>
</p>

<p>
  <strong>C:</strong>
  <%= @personal_history.c %>
</p>

<p>
  <strong>A:</strong>
  <%= @personal_history.a %>
</p>

<p>
  <strong>M:</strong>
  <%= @personal_history.m %>
</p>

<p>
  <strong>V:</strong>
  <%= @personal_history.v %>
</p>

<p>
  <strong>E:</strong>
  <%= @personal_history.e %>
</p>

<%= link_to 'Edit', edit_personal_history_path(@personal_history) %> |
<%= link_to 'Back', personal_histories_path %>
