<%- model_class = ClinicHistory -%>
  <div class="page-header">
    <h1><%= link_to image_tag("php.png ")%> <%= @clinic_history.id %></h1>
  </div>
   <div class="navbar">
    <div class="navbar-inner">
    <li id='buscar' class="brand" href="#">Buscar</li> 
      <div class="row">
        <div class="span6">
          <form method="GET" class="form-inline" >
            <input id='buscar' name="buscar" class="search-query" type="text"  placeholder="Buscar" >
            <a  rel="tooltip" title="Ingresar datos a buscar"><button id='buscar' type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Placa</th>
          <th>color</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Tipo vehiculo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       <%= render @clinic_histories %>
      </tbody>
      <tfoot>
        <tr>
           <td><%= link_to image_tag('glyphicons_005_car.png'), new_patient_clinic_history_path, :remote => true, :class => 'btn btn-mini', :rel => "tooltip", :title => "Igresar Vehiculos" %> </td>
              <td><%= link_to image_tag("atras.png"), patients_path, :class => 'btn btn-mini', :rel => "tooltip", :title => "Regresar a Usuarios" %></td>
        </tr>
      </tfoot>
      <tfoot>
          <tr>
              <td><b>Total Vehiculos </b></td>
            <td>
                <p id='total_regs'><%= @clinic_histories.total_entries %></p>
            </td>
          </tr>
      </tfoot>
    </table>
  </div>
    </table>
      <div align="center">
        <div id="pagination" class="pagination">
          </ul>
              <%= will_paginate @clinic_histories, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente&raquo;' %>
          </ul>
        </div>
      </div>

