<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @clinic_history.city %>
</p>

<p>
  <strong>Department:</strong>
  <%= @clinic_history.department %>
</p>

<p>
  <strong>User:</strong>
  <%= @clinic_history.user %>
</p>

<p>
  <strong>Cove:</strong>
  <%= @clinic_history.cove %>
</p>

<p>
  <strong>Mobiel service:</strong>
  <%= @clinic_history.mobiel_service %>
</p>

<p>
  <strong>Airport:</strong>
  <%= @clinic_history.airport %>
</p>

<p>
  <strong>Type service:</strong>
  <%= @clinic_history.type_service %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @clinic_history.patient %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @clinic_history.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @clinic_history.destination %>
</p>

<p>
  <strong>Company:</strong>
  <%= @clinic_history.company %>
</p>

<p>
  <strong>Accompanist name:</strong>
  <%= @clinic_history.accompanist_name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @clinic_history.relationship %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @clinic_history.phone %>
</p>

<p>
  <strong>Reason for consultation:</strong>
  <%= @clinic_history.reason_for_consultation %>
</p>

<p>
  <strong>Current illness:</strong>
  <%= @clinic_history.current_illness %>
</p>

<%= link_to 'Edit', edit_clinic_history_path(@clinic_history) %> |
<%= link_to 'Back', clinic_histories_path %>
